<html ng-app="placeholders_app">
<head>
  <title>Full Mean Demo="support tag from-rainbow"></title>
  <!-- require angular -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
  <script type="text/javascript">
    var placeholders_app = angular.module('placeholders_app', []);
  </script>
  <script type="text/javascript" src="./controllers/placeholders.js"></script>
  <script type="text/javascript" src="./factories/placeholders.js"></script>
</head>
<!-- everything in the body is going to use the placeholders controller (this gives us access to the placeholders controller $scope) -->
<body ng-controller="PlaceholdersController">
  <h1>Placeholders</h1>
  <input type="text" ng-model="filter_name" placeholder="filter">
  <ul>
    <!-- here is where we are going to display placeholders -->
    <li ng-repeat="placeholder in placeholders | filter: filter_name">
    <span ng-bind="placeholder.name"></span>
    <span ng-bind="placeholder.age"></span>
    <button ng-click='removePlaceholder(placeholder)'>Remove</button>
    </li>
  </ul>
  <h1>Add a Placeholder</h1>
  <!-- objects and properties nothing scary -->
  <input type="text" ng-model="placeholder.name" placeholder="name">
  <input type="text" ng-model="placeholder.age" placeholder="age">
  <!-- addplaceholder() is a method we are going to make in the angular controller -->
  <input type="submit" ng-click="addPlaceholder(placeholder)">
</body>
</html>
