<div ng-controller="discussionsController">
	<a href="#/dashboard">Dashboard</a> | <a href="#/logout">logout</a>
	<div id="topic_thread">
		<div id="topic_top">
			<label for="question_title"><h1><a href="">Zen</a> posted a topic:</h1></label>
			<h2 id="question_title">What is the first thing you should learn if you want to be a web developer?</h2>
			<label for="question"><h4>Description:</h4></label>
			<h4>Any tip on what I should learn first and what are the things that I should keep in mind? Thanks!</h4>
			<label for="answer_input">Post your answer here...</label>
			<textarea id="answer_input"></textarea>
			<button>Post</button>
		</div>
		<div id="answers">
			<div class="answer">
				<hr />
				<a href="">KB</a>: You have to remember that you should never stop learning :)
				<button>Up</button>
				<button>Down</button>
				<br>
				<a href="">Oliver</a>: I strongly agree!<br>
				<a href="">Charles</a>: Keep your mind open to new things.<br>
				<textarea></textarea><br>
				<button>Comment</button><br>
			</div>
			<div class="answer">
				<hr />
				<a href="">Mark</a>: Just learn the basics
				<button>Up</button>
				<button>Down</button>
				<br>
				<a href="">Zen</a>: I like that answer :)<br>
				<textarea></textarea><br>
				<button>Comment</button><br>
			</div>
		</div>
	</div>
</div>